<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css"> <!-- Add this line to link the style sheet -->
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Product</title>
    
    
</head>
<body>
    
<ul class="navbar">
        <li><a id="cart" href="/cart">Cart</a></li>
        <li><a id="cart" href="/">Store</a></li>
    <li><a href="/customer">Customer</a></li>


</ul>
    
    
    
    <div class="container">
        <h1>Welcome to My Basic HTML Page</h1>
        <p>This is a simple HTML page created for demonstration purposes.</p>
    </div>
</body>
</html>
